
.formdos {
    margin-top: 32px;
    display: flex;
	width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formdos > .input {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 32px;
}

.formpart > .input {
    width: 45%;
}

.formdos > .input > label {
    font-weight: bold;
}

.formdos > .input > input, .formdos > .input > select {
    border: none;
    padding: 16px 24px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #b6b6b6;
    transition: all 0.1s;
}

.formdos > input, .formdos > label {
    border: none;
    height: 48px;
    width: 45%;
    background-color: #222;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #b6b6b6;
    transition: all 0.1s;
}

.formpart > input {
    width: 100%;
}

.formdos > label {
    padding: 0 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
    text-align: center;
}

.formdos > label.valid {
    background-color: rgb(70, 142, 70);
}

.formdos > #upload {
    display: none;
}

.formdos > input:hover, .formdos > label:hover {
    cursor: pointer;
    background-color: white;
    color: #222;
}
