.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 512px;
    margin-top: 128px;
}

.form > .input {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 32px;
}

.form > .input > label {
    font-weight: bold;
}

.form > .input > input {
    border: none;
    padding: 16px 24px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #b6b6b6;
    transition: all 0.1s;
}

.form > .submit > .toggle {
    background-color: white;
    color: #222;
    margin-right: 32px;
}

.form > .submit > input {
    border: none;
    padding: 16px 24px;
    background-color: #222;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #b6b6b6;
    transition: all 0.1s;
}

.form > .submit > .submit:hover {
    background-color: white;
    color: #222;
}

::placeholder {
    font-style: italic;
}
