.item {
    height: 96px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 16px;
    transition: all 0.1s;
    position: relative;
}

.item:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.item > img {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 3px;
    margin-right: 8px;
    border-radius: 14px;
}

.item > div {
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 15%;
}

.item > div > p {
    margin: 0;
}

.item > div > .name {
    width: 15%;
    font-size: 20px;
    font-weight: bold;
}

.item > div > .desc {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    color: grey;
    font-style: italic;
}

.item > div > .price {
    width: 15%;
    text-align: center;
}

.item > div > .owner {
    width: 20%;
    text-align: right;
    font-weight: bold;
}

.item > div > .surname {
    font-weight: bold;
    font-size: 20px;
}

.dossier > div > .status {
    text-align: right;
}

.dossier > div, .partenaire > div, .stock > div {
    margin: 0;
    padding: 0 32px;
    width: 100%;
    justify-content: space-between;
}
