.sidebar {
    position: fixed;
    top: 16px;
    bottom: 16px;
    left: 16px;
    width: 220px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 16px 0 #ccc;
}

.sidebar>ul {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 0;
    justify-content: space-around;
}

.sidebar>ul>li {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}

.sidebar>ul>li:hover {
    cursor: pointer;
    background-color: #ccc;
}

.email {
    border: none;
    padding: 16px 24px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #b6b6b6;
    transition: all 0.1s;
}

.text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

#profile {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}